.viewing {
  text-decoration: underline white;
  -webkit-text-decoration: underline white;
  color: rgb(186, 196, 221);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-style: italic;
  margin: 0px 0px 20px 0px;
}

.link {
  color: rgb(186, 196, 221);
  margin: 0px 0px 10px 0px;
  cursor: pointer;
  font-size: 20px;
  /* font-style: italic; */
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-style: normal;

  /* position: absolute; */
}

.title {
  font-size: 50px;
  color: rgb(186, 196, 221);
  font-family: "playfair display", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
}

@media (max-width: 800px) {
  .viewing {
    text-decoration: underline white;
    -webkit-text-decoration: underline white;
    color: rgb(186, 196, 221);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-style: italic;
    margin: 0px 20px 0px 0px;
    position: relative;
  }

  .link {
    color: rgb(186, 196, 221);
    margin: 0px 20px 20px 0px;
    cursor: pointer;
    font-size: 14px;
    /* font-style: italic; */
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-style: normal;

    position: relative;
  }

  .title {
    font-size: 50px;
    color: rgb(186, 196, 221);
    font-family: "playfair display", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
  }
}
