body {
  background-image: url("../assets/sun.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 10% 20%;
  /* background-color: green; */
}

.viewing {
  text-decoration: underline black;
  -webkit-text-decoration: underline black;
  color: black;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-style: italic;
  margin: 0px 0px 10px 0px;
}

img {
  height: 35px;
  margin: 20px 0px 0px 0px;
}

.link {
  color: black;
  margin: 0px 0px 10px 0px;
  cursor: pointer;
  font-size: 20px;
  /* font-style: italic; */
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-style: normal;

  /* position: absolute; */
}

.title {
  font-size: 50px;
  color: black;
  font-family: "Knewave", system-ui;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 0px;
}

@media (max-width: 800px) {
  body {
    /* background-color: green; */
    background-image: url("../assets/sun.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 10px;
    background-position: 0% 0%;
  }

  .viewing {
    text-decoration: underline black;
    -webkit-text-decoration: underline black;
    color: black;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-style: italic;
    margin: 0px 20px 0px 0px;
    position: relative;
  }

  .link {
    color: black;
    margin: 0px 20px 0px 0px;
    cursor: pointer;
    font-size: 16px;
    /* font-style: italic; */
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-style: normal;

    position: relative;
  }

  img {
    height: 20px;
    margin: 0px 0px -5px -5px;
  }

  .title {
    font-size: 50px;
    color: black;
    font-family: "Knewave", system-ui;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0px;
  }
}
