/* .main {
  /* grid-column: 2 / 3; */
/* background-color: rgb(159, 205, 226); */

/* padding: 50px;
  margin-left: 30%;
  overscroll-behavior: none;*/
/* } */

/* body {
  background-color: rgb(159, 205, 226);

} */

.section {
  color: rgb(186, 196, 221);
  margin: 200px 50px 100px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-style: normal;
  /* background-color: aqua; */
  scroll-margin-top: 100px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-style: normal;
}

@media (max-width: 800px) {
  .section {
    color: rgb(186, 196, 221);
    margin: -20px 0px 100px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    width: 100%;
    scroll-margin-top: 200px;
    /* background-color: blueviolet; */
  }
}
