/* .main {
  /* grid-column: 2 / 3; */
/* background-color: rgb(159, 205, 226); */

/* padding: 50px;
  margin-left: 30%;
  overscroll-behavior: none;*/
/* } */

/* body {
  background-color: rgb(159, 205, 226);

} */

.section {
  color: black;
  margin: 200px 50px 100px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-style: normal;
  /* background-color: aqua; */
  scroll-margin-top: 200px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-style: normal;
  scroll-margin-top: 200px;
}

@media (max-width: 800px) {
  .section {
    scroll-margin-top: 200px;
    color: black;
    margin: 0px 0px 100px 0px;
    /* margin-bottom: 50px; */
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-style: normal;
    /* display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start; */
    width: 100%;

    /* background-color: blueviolet; */
  }
}
