.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  justify-content: space-between;
  justify-items: space-between;
  align-content: space-between;
  align-items: space-between;
  gap: 30px;
  margin-top: 25px;
}

.section {
  display: grid;
  grid-template-rows: 10fr 10fr 1fr;
  /* gap: 20px; */
  background-color: rgb(251, 247, 239);
  box-shadow: 3px 3px 6px rgb(177, 176, 176);
  /* border-radius: 10px; */
  /* padding: 20px; */
  max-width: auto;
  /* justify-items: stretch;*/
  align-items: start;
  transition: transform 0.5s;
  border: 1px dotted goldenrod;
  /* margin: 0px 0px 50px 0px; */
}

.section:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.filldiv {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.tags {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-self: end;
  color: rgb(177, 135, 29);
}

.name {
  font-weight: bold;
  color: black;
}

/* .name:hover {
  color: #f6c98e;
} */

.image {
  grid-column: 1 / 2;
  grid-row: 1/ 2;
  /* filter: drop-shadow(2px 2px 2px #f6c98e); */
  width: 100%;
  height: 100%;
  /* margin-top: 0px;
  margin-bottom: 10px; */
  /* transition: transform 0.5s; */
  object-fit: cover;
  align-self: start;
  justify-self: start;
  /* border-radius: 10px; */
}

.desc {
  grid-column: 1/ 2;
  grid-row: 2 / 3;
  padding: 25px 10px 0px 10px;
  justify-self: center;
  align-self: start;
  /* background-color: pink; */
}

/*-------------------------------------------*/
/*TABLET*/

@media (max-width: 1150px) {
  .container {
    /* background-color: rgb(193, 83, 83); */
    display: flex;
    flex-direction: column;
    /* min-width: 375px; */
    align-items: center;
    justify-content: center;

    justify-items: none;
    align-content: none;
  }

  .section {
    display: grid;
    grid-template-rows: 10fr 8fr 1fr;
    /* gap: 20px; */

    box-shadow: 3px 3px 6px rgb(177, 176, 176);
    /* border-radius: 10px; */
    /* padding: 20px; */
    max-width: 400px;
    /* justify-items: stretch;*/
    align-items: start;
    transition: transform 0.5s;
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 500px; */
    /* background-color: rgb(149, 57, 73); */
    width: 100%;
  }

  .section {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(161, 153, 153); */
    align-items: flex-end;
    justify-content: flex-start;

    margin: 0px 0px 40px 0px;
  }

  a {
    justify-self: center;
    align-self: center;
  }

  .name {
    justify-self: flex-start;
    align-self: flex-start;
    font-weight: bold;
    color: black;
  }

  .image {
    /* border-style: solid; */
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
    /* filter: drop-shadow(4px 4px 4px #f6c98e); */
    transition: none;
    object-fit: contain;
  }

  .desc {
    justify-self: center;
    align-self: center;
  }

  .tags {
    align-self: center;
  }
}
