.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  justify-content: space-between;
  justify-items: space-between;
  align-content: space-between;
  align-items: space-between;
  gap: 30px;
  margin-top: 25px;
}

.section {
  display: grid;
  font-size: 14px;
  grid-template-rows: 2fr 4fr 1fr 1fr;
  /* gap: 10px; */
  background-color: rgb(251, 247, 239);
  box-shadow: 3px 3px 6px rgb(177, 176, 176);
  border-radius: 10px;
  padding: 10px;
  max-width: auto;
  /* justify-items: stretch;*/
  align-items: start;
  transition: transform 0.2s;
  border: 1px dotted goldenrod;
  color: black;
  text-decoration: black;
  -webkit-text-decoration: black;
  font-weight: 100;
  /* margin: 0px 0px 50px 0px; */
}

.section:hover {
  transform: scale(1.05);
  color: black;
  text-decoration: none;
  -webkit-text-decoration: none;
}

.links {
  /* background-color: blue; */
  grid-column: 1 /2;
  grid-row: 3/ 4;
  display: flex;
}

.link {
  padding: 5px;
  margin: 0px 0px 0px 10px;
  justify-self: start;
  align-self: start;
  cursor: pointer;
  border-style: dotted;
  border-width: 1px;
  border-radius: 5px;
  border-color: goldenrod;
  width: 60px;
  display: flex;
  justify-content: center;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.link > a {
  color: goldenrod;
  text-decoration: none;
  -webkit-text-decoration: none;
  font-weight: bold;
}

.link:hover {
  font-style: italic;
  background-color: rgb(246, 233, 202);
}

.tags {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-self: end;
  gap: 12px;
}

.tag {
  color: goldenrod;
  font-weight: bolder;
  font-size: 12px;
  background-color: rgb(246, 233, 202);
  border-radius: 8px;
  padding: 0px 6px 0px 6px;
}

.name {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

/* .name:hover {
  color: #f6c98e;
} */

.image {
  grid-column: 1 / 2;
  grid-row: 1/ 2;
  /* filter: drop-shadow(2px 2px 2px #f6c98e); */
  width: 100%;
  height: 7cap;
  object-position: 0% 0%;
  /* margin-top: 0px;
  margin-bottom: 10px; */
  /* transition: transform 0.5s; */
  object-fit: cover;
  align-self: start;
  justify-self: start;
  /* border-radius: 10px; */
  filter: sepia(100%) saturate(40%);
}

.desc {
  grid-column: 1/ 2;
  grid-row: 2 / 3;
  padding: 10px 10px 0px 10px;
  justify-self: center;
  align-self: start;
  /* background-color: pink; */
  min-height: 7lh;
}

/*-------------------------------------------*/
/*TABLET*/

@media (max-width: 1150px) {
  .container {
    /* background-color: rgb(193, 83, 83); */
    display: flex;
    flex-direction: column;
    /* min-width: 375px; */
    align-items: center;
    justify-content: center;

    justify-items: none;
    align-content: none;
  }

  .section {
    display: grid;
    grid-template-rows: 2r 4fr 1fr;
    gap: 10px;

    box-shadow: 3px 3px 6px rgb(177, 176, 176);
    /* border-radius: 10px; */
    /* padding: 20px; */
    max-width: 400px;
    /* justify-items: stretch;*/
    align-items: start;
    transition: transform 0.5s;
    margin: 0px 0px 40px 0px;
  }

  .section:hover {
    transform: scale(1.05);
    /* cursor: pointer; */
    color: black;
    text-decoration: none;
    -webkit-text-decoration: none;
  }

  .desc {
    min-height: 4lh;
    /* background-color: red; */
  }

  .image {
    filter: sepia(100%) saturate(40%);
  }
}

/* MOBILE */
@media (max-width: 799px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 500px; */
    /* background-color: rgb(149, 57, 73); */
    width: 100%;
  }

  .section {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(161, 153, 153); */
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
    margin: 0px 0px 40px 0px;
  }

  a {
    justify-self: center;
    align-self: center;
  }

  .name {
    justify-self: flex-start;
    align-self: flex-start;
    font-weight: bold;
    color: black;
  }

  .image {
    /* border-style: solid; */
    width: 100%;
    max-height: 50%;
    justify-self: center;
    align-self: center;
    /* filter: drop-shadow(4px 4px 4px #f6c98e); */
    transition: none;
    object-fit: cover;
    filter: sepia(100%) saturate(40%);
  }

  .desc {
    justify-self: center;
    align-self: center;
  }

  .links {
    /* background-color: blue; */
    align-self: start;
    min-height: 4lh;
  }

  .tags {
    align-self: center;
  }
}
