.container {
  display: flex;
  flex-direction: column;
}

.section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
  margin: 0px 0px 20px 0px;
}

a {
  text-decoration: none;
  -webkit-text-decoration: none;
  color: black;
  font-weight: 100;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration: none;
  color: goldenrod;
}

.job {
  display: flex;
  flex-direction: column;
}

.jobtitle {
  font-weight: bold;
}

.jobcompany {
  font-style: italic;
}

.date {
  font-weight: bold;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 50px; */
    /* margin: 0px 0px 20px 0px; */
  }

  .job {
    grid-column: 1 / span 2;
    grid-row: 1/2;
  }

  .jobtitle {
    font-weight: bold;
  }

  .jobcompany {
    font-style: italic;
  }

  .dates {
    grid-column: 2 /3;
    grid-row: 1/2;
    justify-self: right;
  }

  .date {
    font-weight: bold;
  }
}
