.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  /* background: green; */
}

.section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: start;
  gap: 50px;
  margin: 0px 0px 20px 0px;
  text-decoration: none;
  -webkit-text-decoration: none;
  color: black;
  font-weight: 100;

  /* background-color: red; */
}

.section:hover {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration: none;
  color: goldenrod;
}

.job {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  align-self: start;
  justify-self: start;
  /* background-color: green; */
}

.jobtitle {
  font-weight: bold;
}

.jobcompany {
  font-style: italic;
}

.date {
  font-weight: bold;
  align-self: right;
  justify-self: right;
  /* background-color: blue; */
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    flex: 1;
    align-self: stretch;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .job {
    grid-column: 1 / span 2;
    grid-row: 1/2;
  }

  .jobtitle {
    font-weight: bold;
  }

  .jobcompany {
    font-style: italic;
  }

  .dates {
    grid-column: 2 /3;
    grid-row: 1/2;
    justify-self: right;
  }

  .date {
    font-weight: bold;
  }
}
