@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Knewave&display=swap");

.body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 6fr;
}

html {
  overscroll-behavior: none;
}

body {
  background-color: rgb(251, 243, 228);
}

.leftnav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: sticky;
  top: 0;
  /* width: 30%; */

  padding-top: 150px;
  /* height: 100%; */
  /* justify-self: start;*/
  align-self: start;
  justify-self: right;
  margin-right: 50px;

  /* z-index: 1; */
}

.main {
  grid-column: 2 / 3;
  background-color: rgb(251, 243, 228);
  /* overflow: auto; */
  padding: 50px 50px 50px 50px;
  /* margin-left: 30%; */
  /* overscroll-behavior: none; */
}

@media (max-width: 800px) {
  body {
    background-color: rgb(251, 243, 228);
    max-width: 100%;
  }

  .body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: rgb(251, 243, 228);
  }

  .leftnav {
    background-color: rgb(251, 243, 228);
    background-image: url("assets/sun.png");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 0% 5%;

    display: inline;
    align-self: stretch;
    position: sticky;
    top: 0;

    padding-top: 0px;

    margin-left: 50px;
    max-width: 100%;
  }

  div {
    display: inline-block;
    padding: 0px 0px 0px 0px;
  }

  .main {
    display: flex;
    /* flex-direction: column; */
    background-color: rgb(251, 243, 228);
    /* overflow: auto; */
    /* padding: 50px 50px 50px 50px; */
    /* margin-left: 30%; */
    /* overscroll-behavior: none; */
    max-width: 100%;
  }
}
