@import url("https://fonts.googleapis.com/css2?family=Erica+One&family=Patua+One&display=swap");

.body {
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* overscroll-behavior-y: contain; */
  /* position: fixed; */
  /* background-color: black;  */

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 6fr;
  /* background-color: rgb(67, 112, 130); */
  /* overflow: auto; */
  /* background-image: url("./src/assets/catlick.png");
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

/* .timmy {
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 50px;
} */

html {
  overscroll-behavior: none;
}

body {
  /* overscroll-behavior: none;
  background-image: url("./assets/painted.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background-color: rgb(65, 73, 90);
}

.leftnav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  /* background-color: rgb(67, 112, 130); */
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: sticky;
  top: 0;
  /* width: 30%; */

  padding-top: 150px;
  /* height: 100%; */
  /* justify-self: start;*/
  align-self: start;
  justify-self: right;
  margin-right: 50px;

  /* z-index: 1; */
}

.main {
  grid-column: 2 / 3;
  background-color: rgb(65, 73, 90);
  overflow: auto;
  padding: 50px 50px 50px 50px;
  /* margin-left: 30%; */
  /* overscroll-behavior: none; */
}
